dist
pnpm-lock.yaml
pnpm-workspace.yaml
package.json

frontend/dist
frontend/package.json
frontend/node_modules
frontend/src/shadcn

api/package.json
api/dist
api/node_modules
api/tests
api/test-results
api/playwright-report
api/drizzle

runner/package.json
runner/dist
runner/node_modules
runner/tests
runner/test-results
runner/playwright-report