dist
pnpm-lock.yaml
pnpm-workspace.yaml
package.json
node_modules

apps/web/dist
apps/web/package.json
apps/web/node_modules
apps/web/src/shadcn

apps/mobile/package.json
apps/mobile/dist
apps/mobile/node_modules
apps/mobile/.expo
apps/mobile/android
apps/mobile/ios

apps/api/package.json
apps/api/dist
apps/api/node_modules
apps/api/tests
api/test-results
apps/api/playwright-report
apps/api/drizzle


